// - s( $goal: number, [$parent: number] )
// **********************************************************
// $parent default : false
// Computes em sizes from pixel-based numbers
// **********************************************************
s( $goal, $parent = false )
  $denom = $parent

  if ( $denom == false )
    $denom = $ws_sBaseFont

  $goal / $denom * 1em

// - ps_ls( $ps_num: number )
// **********************************************************
// $ps_num is an unitless number you can find in the type
// window of Photoshop.
// Computes em letter-spacing
// **********************************************************
ps_ls( $ps_num )
  $ps_num / 1000 * 1em

// - lh( $sketch: number )
// **********************************************************
// $sketch is an unitless number you can find in the type
// window of Sketch.
// Computes em letter-spacing
// **********************************************************
lh( $sketch, $fontSize )
  $sketch / $fontSize * 1em