.animal-profile
    &__bloc
        text-align: center
    &__name
        color: $primaryText
        font-size: s(18,16)
        font-weight 600
        line-height: 1.5
    &__race
        font-style: italic
        font-weight 300
        color: $regularText
        line-height: 1.5
    &__color
        font-size: s(14,16)
        color: $secondaryText
        font-weight 300
        line-height: 1.5
    &__img
        width: 80px
        height 80px
        border-radius: 50%
        margin-bottom: s(10)
    &__table
        width: 100%
        & tr
            border-bottom: 15px solid white
    &__sex-svg
        width: 22px
        height: 22px
        margin-top: s(10)
    &__status
        color: $cWarning
        font-weight 600
        font-size: s(22)
        display: block
        margin-bottom: s(5,22)
    &__status-name
        font-size: s(14)
        font-style: italic
        font-weight 300
        color $regularText
    