.el-bloc
    &__bloc
        box-shadow: 0 0 5px 0 $cBoxShadowCard 
        border-radius: 4px
        padding: s(15,16) s(20,16)
    &__margin
        margin s(25) 0

.animal-title
    font-weight 600
    color $primaryText

.animal
    &__row-bloc
        display: flex 
        flex-direction: column
    &__label
        font-size: s(13)
        font-weight 300
        color: $regularText
        line-height: 1.5
        display: block
    &__input
        font-size: s(14)
        font-weight 600
        color: $cLayoutLight
        padding-top: s(5,14)
