.dashboard
    &__title
        font-size: s(30)
        margin s(150,30) 0 s(50,30)
        text-align: center
        font-weight 300
        & span 
            font-weight 600
    &__subtitle
        margin-bottom: s(25)
    &__number
        display: block
        color: $cSuccess
        font-weight 600
        font-size s(50)
        margin-bottom: s(25,50)
    &__bloc
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center