.main-aside
  background $cLayoutLight
  position: fixed
  height calc(100vh - 80px)
  left: 0
  top: s(80)

.el-menu
  border-right 0

.without-router-aside
  .el-menu-item
    display: block
    &:hover, &:focus
      text-decoration none
