.settings-page
  .el-card
    margin: s(30) 0
    max-width s(700)
    & svg 
      margin-right: s(10)
  &__send-button
    margin-top: s(20)

  .modalUpdate
    .el-form-item__content
      width 50%
      .el-select
        width: 100%
