$cWhite = #FFF
$cWhite2 = #CED3D8

$cBlack = #252E42

/* Elements Colors */

$primaryText = #303133
$regularText = #606266
$secondaryText = #909399
$placeholderText = #C0C4CC

$baseBorder = #DCDFE6
$lightBorder = #E4E7ED
$lighterBorder = #EBEEF5
$extralighterBorder = #F2F6FC

$cBlue = #409EFF
$cSuccess = #67C23A
$cWarning = #E6A23C
$cDanger = #F56C6C
$cInfo = #909399

$cLayoutDark = #252E42
$cLayoutLight = #313C54
/* Social Colors */
$cFacebook = #3b5998
$cTwitter = #55acee
$cPinterest = #cb2027
$cBehance = #1769ff
$cDribble = #ea4c89
$cYoutube = #cd201f
$cVimeo = #1ab7ea
$cLinkedin = #0077B5
$cGithub = #2F2F2F

$cBorderIcons = #647291
$cBoxShadowCard = alpha(#b9b9b9,0.5)


