.btn-view-more
    background: none
    border: 0
    color: $cWhite2
    cursor: pointer
    font: inherit
    line-height: normal
    overflow: visible
    padding: 0
    -webkit-appearance: button
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    outline none
    border-radius: 0
    .button-arrow
        width: 25px
        height: auto

.btn-view
    &__container
        text-align: right
    &__container-title
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-bottom: s(20) 