/*********************************
* Styles for texts (paragraph,…)
* 
* Example :
* $paragraph21
*   font-size: 21px;
*********************************/
.p14
  font-size s($body)
  font-weight: 400
  color $regularText
  line-height: 1.4em
  &--light
    font-weight: 300


