.title
  &__settings
    font-size: s(24)
    font-weight 200
    color: $regularText
  &__subtitle
    text-transform: uppercase
    font-size: s(12)
    font-weight: 200
    letter-spacing: 1px
    padding: s(30,12) s(30,12) s(10,12)
    color: $secondaryText

.svg-title
  margin-right s(10)

.with-icon
  & span 
    color: $cLayoutLight
    font-weight 300

.center
    display block
    text-align: center
    margin: 0 auto


.title20
  font-size s($mainTitle)


.blocTitle
  display: flex
  justify-content space-between
  margin-top s(30)
  padding-bottom s(20)
  border-bottom 1px solid $baseBorder
  &__title
    font-size s(24)
    font-weight 300
    color: $regularText
  &__count
    font-size s($supplementaryText)
    color $cInfo
    font-weight: 700
    & strong
      color $regularText
